* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62.5%;
}
/***** Section aside *****/

aside {
  width: 250px;
  height: 100vh;
  padding: 24px;
  position: fixed;
  background-color: hsl(0, 0%, 96%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.6rem;
}
.logo {
  width: 140px;

  & img {
    width: 100%;
  }
}
.responsive-logo {
  display: none;
}
.icons-container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-left: -10px;
}
.icon-txt {
  display: flex;
  align-items: end;
  gap: 1.3rem;
  padding: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;

  & img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }

  & i {
    font-size: 2.4rem;
  }
  & a {
    font-weight: 500;
    color: #000000;
  }

  &:hover {
    background-color: #ccc;
  }
  &:active {
    color: #8f8f8f;
  }
}
/***** End Section aside *****/

/***** Section main *****/

main {
  position: absolute;
  top: 0;
  background-color: #fff;
}
.main-container {
  max-width: calc(100% - 250px);
  position: absolute;
  min-height: 100vh;
  left: 250px;
  top: 0;
  margin: 0 auto;
  display: flex;
}
.story-container {
  max-width: 630px;
  margin: 2rem auto auto auto;
  display: flex;
  gap: 1.6rem;
}
.story-image {
  display: none;
  width: 70px;
  height: 70px;
  margin-bottom: 0.6rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}
.story-image-container {
  width: 70px;
  height: 70px;
  margin-bottom: 0.6rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  padding: 3px;
  background: linear-gradient(
    45deg,
    #e6a940,
    #dbab51,
    #b43a85,
    #fd1d1d,
    #e1306c,
    #fd1d1d
  );

  & img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}

.suggested-profiles-container {
  margin-right: 20rem;
  margin-left: 10rem;
  margin-top: 3rem;
}
.img-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  & img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}

.top-container {
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .txt {
    & a {
      font-size: 1.2rem;
      font-weight: 600;

      &:hover {
        scale: 1.1;
        color: #000000;
      }
    }
  }
}
.top-text-img-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  font-size: 1.4rem;

  & p {
    font-weight: 400;
    font-size: 1.3rem;
  }
}

.Center-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  & .txt {
    & .bolder {
      font-size: 1.3rem;
      font-weight: 600;
      color: black;

      &:hover {
        scale: 1.1;
        color: #000000;
      }
    }
  }
}
.bottom-container {
  margin-top: 3rem;
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.post-container {
  max-width: 500px;
  margin: 3rem auto auto auto;

  & .top-container {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .txt {
      & a {
        font-size: 2.2rem;
        font-weight: 600;
        color: #000000;

        &:hover {
          scale: 1.1;
          color: #000000;
        }
      }
    }
  }
  .top-text-img-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    font-size: 1.4rem;

    & p {
      font-weight: 400;
      font-size: 1.3rem;
    }
  }

  .Center-container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    & .txt {
      & .bolder {
        font-size: 1.3rem;
        font-weight: 600;
        color: black;

        &:hover {
          scale: 1.1;
          color: #000000;
        }
      }
    }
  }
}
.post-img-container {
  width: 500px;
  height: auto;

  & img {
    width: 100%;
    margin-top: 0.6rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }
}
.post-container {
  border-bottom: 1px solid #bdbdbd;
}

.like-comments-share-save-container {
  font-size: 2.6rem;
  display: flex;
  justify-content: space-between;
  margin-top: 0.6rem;

  & .like-comments-share {
    display: flex;
    gap: 1rem;
  }
}
.likes-counting {
  margin-top: -1rem;
  & .img-container {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    & img {
      width: 20px;
      height: 20px;
    }
  }
}
.likes-counting {
  display: flex;
  font-size: 1.4rem;
  align-items: center;

  & .likes {
    margin-left: -2.6rem;
  }
}
.post-des {
  font-size: 1.4rem;
  margin-top: -0.7rem;
}
.comments {
  margin-top: 0.5rem;
  margin-bottom: 2rem;

  & input {
    border: none;
    outline: none;
  }
  & input::placeholder {
    font-size: 1.4rem;
  }
}
/***** End Section main *****/

/***** Responsiveness *****/

@media screen and (width <= 1280px) {
  .icon-txt a {
    display: none;
  }
  .logo {
    display: none;
  }
  .responsive-logo {
    height: 40px;
    width: 40px;
    display: block;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
  }
  aside {
    width: 100px;
    height: 100vh;
  }
  main {
    width: calc(100% - 100px);
  }
}

@media screen and (width <= 1100px) {
  .suggested-profiles-container {
    display: none;
  }
}
@media screen and (width <= 768px) {
  .main-container {
    margin-left: -13rem;
  }
}

@media screen and (width <= 550px) {
  aside {
    display: none;
  }
  .main-container {
    width: 100%;
    margin-left: -25.5rem;
  }
  .story-image-container {
    width: 150px;
    height: 150px;
  }
  .story-image {
    display: block;
    width: 147px;
    height: 147px;
    margin-bottom: 0.6rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }

    & i {
      position: absolute;
      z-index: 999999999999;
      bottom: 10px;
      right: 19px;
      width: 27px;
      height: 27px;
    }
  }
  .story-container {
    overflow-x: scroll;
    margin-left: 2rem;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .storys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
  }
  .post-container {
    max-width: 100%;
    border: none;

    & .top-container {
      width: 100%;
      padding: 15px;

      & .text-container {
        font-size: 2rem;
      }
      & .txt {
        font-size: 2rem;
      }
      & .img-container {
        width: 70px;
        height: 70px;
      }
    }
    & .post-img-container {
      width: 100%;
    }
  }
  .like-comments-share-save-container {
    padding: 15px;
    font-size: 4.6rem;
  }
  .likes-counting {
    margin-top: -2.6rem;
    gap: 2rem;
    padding: 15px;
    font-size: 2.4rem;

    & .img-container {
      & img {
        width: 40px;
        height: 40px;
      }
    }
  }
  .post-des {
    font-size: 2rem;
    padding: 15px;
  }
  .comments {
    padding: 15px;
    & input {
      height: 30px;
      width: 100%;
    }
    & input::placeholder {
      font-size: 2.4rem;
    }
  }
}
/***** End Responsiveness *****/
